beautifulsoup4==4.8.2
fuzzywuzzy==0.18.0
json5==0.9.1
jsonschema==3.2.0
matplotlib==3.1.3
numpy==1.19.5
pandas==1.0.1
pandocfilters==1.4.2
requests==2.23.0
requests-cache==0.7.5
requests-oauthlib==1.3.0
seaborn==0.10.0
lxml==4.7.1